{% extends "base.html" %}
{% comment %}
#
# This file is part of FreedomBox.
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
{% endcomment %}

{% load bootstrap %}
{% load i18n %}

{% block content %}
  <h2>{{ title }}</h2>

  <p>{% trans "Delete the following snapshots permanently?" %}</p>

  <table class="table table-bordered table-condensed table-striped">
    <thead>
      <th>{% trans "Number" %}</th>
      <th>{% trans "Date" %}</th>
      <th>{% trans "Description" %}</th>
    </thead>
    <tbody>
      {% for snapshot in snapshots %}
        {% if not snapshot.is_default %}
          <tr>
            <td>{{ snapshot.number }}</td>
            <td>{{ snapshot.date }}</td>
            <td>{{ snapshot.description }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <p>
    <form class="form" method="post">
      {% csrf_token %}
      <input type="submit" class="btn btn-danger" name="delete_confirm"
             value="{% trans 'Delete Snapshots' %}"/>
    </form>
  </p>

{% endblock %}
